---
import { fetchNominalData } from '../utils';

const { label, data } = await fetchNominalData();
---
<div>
  <canvas
      id='nominal-yield-chart'
      data-label={label}
      data-data={JSON.stringify(data)}
      >
  </canvas>
</div>

<script>
  import makeChart from '../makeChart.ts';

  const ctx = document.getElementById("nominal-yield-chart");

  makeChart({
    ctx,
    title: 'Nominal Yields',
    borderColor: 'rgb(255, 99, 132)',
  });
</script>
