---
import { fetchNominalData } from '../utils';

const nominalData = fetchNominalData();
const label = nominalData.then((data) => data.label);
const data = nominalData.then((data) => data.data);
---
<script>
  import makeChart from '../makeChart.ts';

  const ctx = document.getElementById("nominal-yield-chart");

  makeChart({
    ctx,
    title: 'Nominal Yields',
    borderColor: 'rgb(255, 99, 132)',
  });
</script>
<div>
  <canvas
    id='nominal-yield-chart'
    data-label={await label}
    data-data={JSON.stringify(await data)}
  >
  </canvas>
</div>
