---
import { fetchRealData } from '../utils';
import { YieldData } from '../utils';

const csvData = await fetchRealData();
const yieldData = new YieldData(csvData);
const label = yieldData.latestLabel();
const data = yieldData.latestData();
---
<div>
  <canvas
      id='real-yield-chart'
      data-label={label}
      data-data={JSON.stringify(data)}
      >
  </canvas>
</div>

<script>
  import makeChart from '../makeChart.ts';

  const ctx = document.getElementById("real-yield-chart");

  makeChart({
    ctx,
    title: 'Real Yields',
    borderColor: "rgb(75, 192, 192)",
  })
</script>
